<!-- Meta Data -->
<meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="Pipers Cafe Matarangi">

<!-- end of meta tags -->


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Oswald&display=swap" rel="stylesheet"></link>

<!-- Gridlex -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

<!-- Font Awesome Version 5 for Icons  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<!-- Magnific Popup for lightbox galleries   -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

<link rel="icon" href="/images/pipersfishfav.png">

<!-- our own custom stylesheet -->
<link rel="stylesheet" href="/assets/style.css"/>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KP2H4FR');</script>
<!-- End Google Tag Manager -->


<!-- Google Analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35561136-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-35561136-1');
</script>

<!-- end google analytics -->
