<!-- This is your site header -->

<header class="grid">
  <div class="col-4_sm-12-middle">
    <a href="/">
      <img src="/images/piperscafelogo.png" class="logo">
    </a>
  </div>
  <nav class="col-8-middle mob-hide right">
    <a href="/"> Home </a>
    <a href="/images/pipers-menus.pdf" target="_blank"> Menus </a>
    <a href="/wedding-catering-matarangi-coromandel"> Wedding Catering </a>
    <a href="/contact"> Contact Us </a>
  </nav>

</header>


<!-- this is the button to open and close your hamburger menu -->
<div class="hamburger">
  <i class="fas fa-bars"></i>
</div>

<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  <a href="/"> Home </a>
  <a href="/images/pipers-menus.pdf" target="_blank"> Menus </a>
  <a href="/wedding-catering-matarangi-coromandel"> Catering </a>
  <a href="/contact"> Contact Us </a>
</nav>
