<!-- footer -->

<footer class="grid">
  <!-- column -->
  <div class="col-5_sm-12 padded">

  </div>
  <div class="col-1 sm-hidden"></div>
  <!-- column -->
  <div class="col-6_sm-12-middle padded right">
    <nav class="inline">
      <a href="/contact"> 197 Matarangi Drive </a>|
      <a href="/contact"> 07 866 0774 </a>|
      <a href = "mailto: info@piperscafe.co.nz"> info@piperscafe.co.nz </a>
    </nav>
    <nav class="inline socials">
      <a href="https://www.facebook.com/Pipers-Cafe-195455787211413/" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.instagram.com/piperscafe/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

    </nav>
  </div>
</footer>
